html {
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}

body {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    color: rgb(131, 127, 127);
}

section {
    display: grid;
    background-color: rgb(49, 48, 48);
    place-items: center;
    min-height: 100vh;
    grid-template-columns: 400px 1fr;
}

.ske {
    background-color: rgb(54, 54, 53);
    box-shadow: 0 2px 4px rgb(7, 7, 7);
    display: grid;
    min-height: 400px;
    place-items: center;
    gap: 0px;
    padding: 4rem;
}

.ske .set {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

button {
    background: linear-gradient(to right bottom, rgb(36, 35, 35), rgb(48, 42, 42));
    border: none;
    padding: .5rem 1rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
    color: rgb(131, 127, 127);
    font-family: inherit;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.6);
}
.erase{
    background: linear-gradient(to right bottom, rgb(207, 203, 203), rgb(189, 181, 181));
}
a{
    color: white;
    font-size: 2rem;
}

input[type="color"] {
    background-color: rgb(54, 51, 51);
    border: 0;
    outline: none;
    width: 100%;
    
}

input[type="range"] {
    appearance: none;
    outline: none;
    border-radius: 15px;
    height: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
    -5px -5px 10px rgb(65, 63, 63),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

input[type="range"] ::-webkit-slider-thumb{
    appearance: none;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid orange;
    box-shadow: -407px 0 0 400px rgb(72, 88, 228);
}



.grid {
    display: grid;
    grid-auto-flow: row;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
    width: 900px;
    height: 650px;
    background-color: rgb(167, 164, 164);
}